<div class="blog-post__form">
    <h1>Create blog post</h1>
    <hr>
    <form action="/" method="post">
        <!-- Author -->
        <label for="author">Author:</label>
        <input type="text" id="author" name="author" placeholder="E.g., Christoffer Nielsen" required>
        <br>

        <!-- Title -->
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" placeholder="E.g., Dev log #10" required>
        <br>

        <!-- Content -->
        <label for="content">Content:</label>
        <textarea id="content" name="content" rows="10" required></textarea>
        <br>

        <!-- Submit button -->
        <input type="submit" value="Create">
    </form>
</div>