<footer>
    <div class="social-media-icons">
        <a href="https://www.facebook.com/nielsenchristoffer93/" target="_blank"><i class='bx bxl-facebook'></i></a>
        <a href="https://www.linkedin.com/in/nielsenchristoffer93" target="_blank"><i class='bx bxl-linkedin'></i></a>
        <a href="https://github.com/nielsenchristoffer93" target="_blank"><i class='bx bxl-github'></i></a>
      </div>
      <p>Made with ♥ in Gothenburg, Sweden.</p>
      <p class="copyright">Copyright &copy Christoffer Nielsen 2024. All Rights Reserved.</p>
</footer>
</body>

</html>