<li class="nav-item">
    <a class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover active" aria-current="page" href="#">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Features</a>
</li>
<li class="nav-item">
    <a class="nav-link link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="#">Pricing</a>
</li>